/* GOOGLE FONTS */
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Racing+Sans+One&family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap);

/* TRAP */
.trap {
  display: none;
}

/* CONTENT LOADING */
.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

/* BASIS */
html {
  scrollbar-width: thin;
  scrollbar-color: #fff #e0e0ee;
  scroll-behavior: smooth;
  background: #cfd6ff;
}

::selection {
  color: #000;
  -webkit-text-fill-color: #000;
  background: #ff0;
  text-shadow: none;
}

body {
  background: #e6e6ee;
  background-image: url(../lib/patterns/lines-01.png);
  background-repeat: repeat;
  color: #333;
  font-family: Roboto Mono, monospace;
  font-size: 18px;
  margin: 0;
}

a {
  text-decoration: underline dotted 2px;
  color: #9999ff;
}

a:hover {
  color: #ff4646;
  text-shadow: 0 0 2px #ff4646;
}

a:visited {
  color: #ff00ff;
}

.cursor-def {
  cursor: default;
}

/* H1, H2, H3, H4, H5, H6 */
.white-box h1, .white-box h2, .white-box h3,.white-box h4, .white-box h5, .white-box h6 {
  margin: 16px 8px;
}

h1 {
  font-size: 3.25em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.425em;
}

h6 {
  font-size: 1em;
}

/* MEDIA */
img,
video {
    max-width: 100%;
}

/* ICONS */
.icon {
  width: 48px;
}

.icon-pink {
  width: 96px;
}

.icon-small {
  width: 32px;
}

a .icon, a .icon-pink, a .icon-small {
  opacity: 0.7;
}

a .icon:hover, a .icon-pink:hover, a .icon-small:hover {
  opacity: 1;
  cursor: pointer;
}

strong {
  background-color: #ffeeff;
}

ul {
  list-style-image: url(../lib/icon/heart.svg);
  list-style-position: inside;
  margin: 0;
  padding: 0 0 0 8px;
}

/* BUTTONS */
.buttons {
  max-width: 1024px;
  margin: 16px 8px;
}

.button {
  background: #333;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  font-family: Open Sans;
  letter-spacing: 0.1em;
  font-size: 1em;
  text-transform: uppercase;
  padding: 8px;
}

.button:hover {
  background: #9999ff;
}

a.button {
  text-decoration: none;
}

/* POPUP */
.popup a {
  z-index: 1900;
  background-image: url(../lib/img/13r-popup.svg);
  position: absolute;
  width: 192px;
  height: 192px;
  right: 32px;
  bottom: 32px;
  opacity: 0.7;
}

.popup a:hover {
  opacity: 1;
}

/* NAV */
nav .icon {
  margin: 20px 0 8px 0;
}

nav {
  margin-right: 8px;
}

/* HEADER */
header {
  z-index: 950;
  background: linear-gradient(#9999ff, rgba(255, 255, 255, 0.2));
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header-cat-logo {
  width: 80px;
  margin: 4px 0 0 12px;
  background-image: url(../lib/logo/cat-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-logo-text {
  margin: 0 0 -32px -8px;
}

/* FRONT PAGE */
.front-page {
  z-index: 1000;
  position: relative;
  height: 100vh;
}

.front-page .cat-logo {
  width: 128px;
  background-image: url(../lib/logo/cat-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: cover;
}

.front-page .title-name {
  font-size: 2em;
  padding-bottom: 16px;
}

.front-page .title-job {
  font-size: 1.4225em;
  padding-bottom: 16px;
}

.front-page .title-separator {
  font-size: 1.4em;
  margin-bottom: 8px;
}

.front-page .title-web {
  font-size: 1.1em;
}

.title-name {
  font-family: Open Sans;
  letter-spacing: 0.2em;
  margin-top: 8px;
}

.title-job {
  font-family: Open Sans;
  letter-spacing: 0.2125em;
  margin-top: -32px;
}

.header-logo-text .title-job {
  line-height: 0.8em;
}

.title-separator {
  font-family: Roboto Mono, monospace;
  margin-top: -32px;
}

.title-web {
  font-family: Roboto Mono, monospace;
  letter-spacing: 0.4em;
  margin-top: -24px;
}

.title-web a {
  text-decoration: none;
}

/* SECTIONS */
section {
  margin: 0;
}

section h1, section h2, section h3, section h4 {
  font-family: Racing Sans One;
}

/* AWARDS */
.awards {
  max-width: 1024px;
  justify-content:space-around;
  font-size: 90%;
}

.awards h3, .awards h4, .awards h5, .awards h6  {
  margin: 0;
  font-weight: 400;
}

.awards h3 {
  font-family: Open Sans;
  letter-spacing: 0.2em;
}

.awards h4 {
  font-family: Open Sans;
  letter-spacing: 0.1em;
}

.laurel {
  background-image: url(../lib/icon/laurel-l.svg), url(../lib/icon/laurel-r.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  max-width: 512px;
  margin: 0 0 48px 8px;
}

/* FOOTER */
footer {
  font-size: 0.8em;
  padding: 16px 8px 16px 0;
  line-height: 2em;
}

.imprs {
  font-size: 0.6em;
}

/* PORTFOLIO */

.game-title {
  padding: 8px 0 8px 0;
}

.game-img {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  opacity: 0.8;
}

.game-img:hover {
  opacity: 1;
}

.game-name {
  font-size: 1.1em;
}

.game-company {
  font-family: Open Sans;
  letter-spacing: 0.2em;
  font-size: 0.9em;
}

.game-job {
  font-size: 0.8em;
}

/*** COLORS ***/
.celeste {
  color: #b5b9ff;
}

.green {
  color: #44bb88;
}

.purple {
  color: #9999ff;
}

.red {
  color: #ff4646;
}

.white {
  color: #cfd6ff;
}

.celeste-grad-border {
  background-image: linear-gradient(#b5b9ff, #cfd6ff 5px);
}

.red-grad {
  background: inherit;
  color: #ff4646;
}

@supports (background-clip: text) {
  .red-grad {
    background: linear-gradient(#ff4646, #ff00ff);
    background-clip: text;
    color: transparent;
  }
}

.celeste-bg {
  background-color: #cfd6ff;
}

.red-bg {
  background-color: #ff4646;
}

.red-glow {
  text-shadow: 0 0 4px #ff4646;
}

.celeste-box-shadow {
  box-shadow: 0 0 8px #cfd6ff;
}

.purple-box-shadow {
  box-shadow: 0 0 8px #9999ff;
}

/*** VFX ***/
.blur {
  backdrop-filter: blur(3px);
}

.txt-shadow {
  text-shadow: 1px 0 #ff0, 1px 1px #ff0, 1px 2px #ff0, 2px 0 #ff0, 2px 1px #ff0, 2px 2px #ff0, 3px 0 #ff0, 3px 1px #ff0, 3px 2px #ff0;
}

.radial-trigger-area {
  border-radius: 50%;
}

.uppercase {
  text-transform: uppercase;
}

.lightweight {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bounce-trigger {
  animation-name: bounce-anim;
  animation-duration: 3s;
}

@keyframes bounce-anim {
  0% {
    width: 192px;
    height: 192px;
    right: 32px;
    bottom: 32px;}
  70% {
    width: 192px;
    height: 192px;
    right: 32px;
    bottom: 32px;}
  75% {
    width: 208px;
    height: 208px;
    right: 24px;
    bottom: 24px;}
  85% {
    width: 192px;
    height: 192px;
    right: 32px;
    bottom: 32px;}
  90% {
    width: 200px;
    height: 200px;
    right: 28px;
    bottom: 28px;}
  100%  {
    width: 192px;
    height: 192px;
    right: 32px;
    bottom: 32px;}
}

/*** LAYOUTS ***/
.float-l {
  float: left;
  margin-right: 16px;
}
.float-r {
  float: right;
}

.float-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed {
  position: fixed;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.column-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt-center {
  text-align: center;
}

.txt-small {
  font-size: 0.7em;
}

.border-dotted {
  border: 3px dotted #9999ff;
  border-radius: 8px;
  padding: 8px;
}

.line-dotted {
  border: none;
  border-top: 3px dotted #cfd6ff;
}

.line-margin {
  margin: 64px 0 32px 0;
}

.margin-8 {
  margin-top: 8px;
}

.margin-16 {
  margin-top: 16px;
}

.margin-32 {
  margin-top: 32px;
}

.padding-96 {
  padding-top: 96px;
}

.padding-64 {
  padding-top: 64px;
}

.padding-32 {
  padding-top: 32px;
}

.padding-16 {
  padding-top: 16px;
}

.white-box {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 16px;
  max-width: 1024px;
  box-shadow: 0 0 8px #e0e0ee;
}

.box {
  margin: 0 8px 0 8px;
}

.col-3-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.col-5-1-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.row-2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0;
}

/*** IDs ***/

#moreOne, #moreTwo, #moreThree {
  display: none;
}

@media screen and (max-width: 854px) {
  .border-dotted {
    margin-top: 16px;
  }

  .col-3-1-1 {
    display: inherit;
  }

  .col-5-1-1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .popup a {
    width: 96px;
    height: 96px;
  }

  @keyframes bounce-anim {
    0% {
      width: 96px;
      height: 96px;
      right: 32px;
      bottom: 32px;}
    70% {
      width: 96px;
      height: 96px;
      right: 32px;
      bottom: 32px;}
    75% {
      width: 128px;
      height: 128px;
      right: 16px;
      bottom: 16px;}
    85% {
      width: 96px;
      height: 96px;
      right: 32px;
      bottom: 32px;}
    90% {
      width: 112px;
      height: 112px;
      right: 24px;
      bottom: 24px;}
    100%  {
      width: 96px;
      height: 96px;
      right: 32px;
      bottom: 32px;}
  }
}

@media screen and (max-width: 590px) {
  .header-logo-text {
    display: none;
  }
  
  .row-2-1 {
    display: inherit;
  }

  .col-5-1-1-1-1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .front-page .title-name {
    font-size: 1.5em;
    padding-bottom: 16px;
  }

  .front-page .title-job {
    font-size: 1.05em;
    padding-bottom: 12px;
  }

  .front-page .title-separator {
    font-size: 1.2em;
    margin-bottom: -2px;
  }
}

@media screen and (max-width: 382px) {
  .col-5-1-1-1-1-1 {
    display: inherit;
  }

  .col-5-1-1-1-1-1 .game-container {
    padding-bottom: 24px;
  }

	.popup {
		display: none;
	}

}