/* FONTS ------------------------------------------------------- */
/** OPEN SANS VARIANTS **/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../lib/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../lib/fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(../lib/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url(../lib/fonts/OpenSans-SemiBoldItalic.ttf);
}

/** ROBOTO MONO VARIANTS **/
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url(../lib/fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 400;
  src: url(../lib/fonts/RobotoMono-Italic.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 600;
  src: url(../lib/fonts/RobotoMono-SemiBold.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 600;
  src: url(../lib/fonts/RobotoMono-SemiBoldItalic.ttf);
}

/** RACING SANS ONE VARIANTS **/
@font-face {
  font-family: "Racing Sans One";
  font-style: normal;
  font-weight: 400;
  src: url(../lib/fonts/RacingSansOne-Regular.ttf);
}

/* JAVASCRIPT BEHAVIOUR ---------------------------------------- */
/** TRAP **/
.trap {
  display: none;
}

/** CONTENT LOADING **/
.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

/* BASIS ------------------------------------------------------- */
/** CORE **/
html {
  scrollbar-width: thin;
  scrollbar-color: #FFFFFF #E6E6EE;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

::selection {
  color: #333333;
  -webkit-text-fill-color: #333333;
  background: #ff0;
  text-shadow: none;
}

body {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  letter-spacing: 16%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  margin: 0 0 8px 0;
  line-height: 32px;
}

.line, 
.line-2 {
  display: inline-block;
}

ul {
  list-style-image: url(../lib/img/icons/heart.svg);
  list-style-position: inside;
  margin: 0;
  padding: 0 0 0 32px;
}

li {
  margin: 16px 0 16px 8px;
  line-height: 32px;
}

/** HEADINGS **/
h1, 
h2, 
h3, 
h4 {
  text-transform: uppercase;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h1 {
  color: #ff4646;
  font-size: 64px;
  font-family: "Racing Sans One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 16%;
}

h2 {
  font-size: 16px;
  letter-spacing: 40%;
}

/** HYPERLINKS **/
a {
  color: #ff4646;
  transition: 0.2s;
}

a:hover {
  color: #333333;
}

a:active {
  color: #FFFFFF;
}

/** IMAGES **/
img {
  max-width: 100%;
}

/** BUTTONS **/
button {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #ff4646;
  background-color: rgba(207, 214, 255, 0.7);
  text-transform: uppercase;
  letter-spacing: 40%;
  border-style: solid;
  border-width: 1px;
  border-radius:128px;
  border-color: #ff4646;
  max-width: 208px;
  cursor: pointer;
  padding: 4px 10px 4px 16px;
  margin: 8px;
  transition: 0.2s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

button:active {
  color: #333333;
  background-color: #FF4646;
  border-color: #333333;
}

button.ext-link {
  background-image: url(../lib/img/icons/ext-link.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right center;
  padding-right: 32px;
}

button.btn-inactive {
  color: #9999FF;
  border-color: #9999FF;
  cursor: default;
}

button.btn-inactive:hover {
  background-color: inherit;
}

button.btn-inactive:active {
  background-color: inherit;
}

/** NOTEBOOK STYLE **/
.notebook {
  background-image: url(../lib/img/bg/notebook.png);
  background-size: 32px 32px;
  background-position: center top;
  border-radius: 32px;
  padding: 64px 32px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  /*box-shadow: 0 0 64px #B5B9FF;*/
}

.mono {
  margin-top: 8px;
}

.mono, 
.notebook p, 
.notebook ul {
  font-family: "Roboto Mono", 'Courier New', Courier, monospace;
  margin: 0 0 16px 0;
  letter-spacing: 8%;
}

/** EMBOSS **/
.emboss {
  background-color: #B5B9FF;
  color: #FFFFFF;
  border-radius: 2px;
  padding: 64px 32px;
  box-shadow: 0 0 4px #9999FF inset;
}

/** SIMPLE TEXT **/
.simple-text {
  padding: 0 32px;
}

.simple-text p {
  margin: 0 0 24px 0;
}

/** TOOLTIPS **/
.tooltip {
  border-bottom: 2px dotted #333333;
}

/** AWARDS **/
.laurel {
  background-image: url(../lib/img/icons/laurel-l.svg), url(../lib/img/icons/laurel-r.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  max-width: 320px;
}

/** BORDER BOTTOM SEPARATOR **/
.separator-b {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);
  padding-bottom: 12px;
}

.separator-b-l {
  margin-left: 16px;
}

.separator-b-r {
  margin-right: 16px;
}

/* FRONT CARD -------------------------------------------------- */
.front-card-bg {
  background-color: #B5B9FF;
  min-height: 100vh;
}

.front-card {
  background-color: #E6E6EE;
  border: 2px dotted #9999FF;
  border-radius:16px;
  padding: 64px 32px 32px 32px;
  margin: auto;
  width: 512px;
  max-width: calc(100vw - 96px);
  min-height: 192px;
}

/** LOGO **/
.logo-img {
  width: 74px;
  height: 74px;
}

.logo-txt {
  cursor: default;
  margin: 0 -4px 0 8px;
}

.logo-txt h1 {
  font-size: 35px;
}

.logo-txt h2 {
  font-size: 17.55px;
}

/** ICONS **/
.icon {
  width: 32px;
  height: 32px;
  background-size: 32px;
  transition: 0.2s;
}

.icon:hover {
  filter: saturate(0%) brightness(20%);
}

.icon:active {
  filter: brightness(1000%);
}

.linkdn {
  background-image: url(../lib/img/icons/linkdn.svg);
}

.bsky {
  background-image: url(../lib/img/icons/bsky.svg);
}

.email {
  background-image: url(../lib/img/icons/email.svg);
}

.scroll-down {
  background-image: url(../lib/img/icons/scroll-down.svg);
}

.scroll-up {
  background-image: url(../lib/img/icons/scroll-up.svg);
}

/* HEADER ------------------------------------------------------ */
header {
  position: sticky;
  top: 0;
  background-color: rgba(207, 214, 255, 0.4);
  backdrop-filter: blur(8px);
}

nav {
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  padding: 8px;
  box-shadow: 0 0 4px #9999FF;
}

nav ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
}

.nav-wide {
  display: block;
  visibility: visible;
}

.nav-narrow,
.nav-toggle-btn input,
.nav-toggle-content {
  display: none;
  visibility: hidden;
}

/* FOOTER ------------------------------------------------------ */

/* PORTFOLIO --------------------------------------------------- */
.framed {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}

.splash-s {
  max-width: 300px;
}

.splash-m {
  max-width: 692px;
}

.splash-l {
  max-width: 1024px;
}

.splash-13r {
  background-image: url(../lib/img/pics/13r-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  width: 100%;
  height: 400px;
}

.pic-13r-1 {
  background-image: url(../lib/img/pics/13r-pic-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% bottom;
  width: 100%;
  height: 400px;
}

.pic-13r-2 {
  background-image: url(../lib/img/pics/13r-pic-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% bottom;
  width: 100%;
  height: 400px;
}

.pic-13r-3 {
  background-image: url(../lib/img/pics/13r-pic-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 400px;
}

.pic-13r-4 {
  background-image: url(../lib/img/pics/13r-pic-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  width: 100%;
  height: 400px;
}

.pic-13r-5 {
  background-image: url(../lib/img/pics/13r-pic-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% bottom;
  width: 100%;
  height: 400px;
}

.splash-mv {
  background-image: url(../lib/img/pics/mv-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 300px;
  height: 400px;
}

.pic-mv-1 {
  background-image: url(../lib/img/pics/mv-pic-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% bottom;
  width: 100%;
  height: 400px;
}

.pic-mv-2 {
  background-image: url(../lib/img/pics/mv-pic-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% bottom;
  width: 100%;
  height: 400px;
}

.pic-mv-3 {
  background-image: url(../lib/img/pics/mv-pic-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 45% bottom;
  width: 100%;
  height: 400px;
}

.pic-mv-4 {
  background-image: url(../lib/img/pics/mv-pic-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 400px;
}

.splash-popup {
  background-image: url(../lib/img/pics/popup-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  width: 100%;
  height: 400px;
}

.splash-fs {
  background-image: url(../lib/img/pics/fs-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 300px;
  height: 400px;
}

.splash-toggo {
  background-image: url(../lib/img/pics/toggo-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  width: 100%;
  height: 400px;
}

.pic-toggo-1 {
  background-image: url(../lib/img/pics/toggo-pic-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 400px;
}

.pic-toggo-2 {
  background-image: url(../lib/img/pics/toggo-pic-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 400px;
}

.pic-toggo-3 {
  background-image: url(../lib/img/pics/toggo-pic-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 400px;
}

.pic-toggo-4 {
  background-image: url(../lib/img/pics/toggo-pic-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 400px;
}

.splash-lofi {
  background-image: url(../lib/img/pics/lofi-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% bottom;
  width: 100%;
  height: 400px;
}

.splash-pbr {
  background-image: url(../lib/img/pics/pbr-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% bottom;
  width: 100%;
  height: 400px;
}

.splash-power2 {
  background-image: url(../lib/img/pics/power2-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 300px;
  height: 400px;
}

.splash-techinart {
  background-image: url(../lib/img/pics/techinart-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 300px;
  height: 400px;
}

.splash-anim {
  background-image: url(../lib/img/pics/anim-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 400px;
}

.splash-library {
  background-image: url(../lib/img/pics/library-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 300px;
  height: 400px;
}

.splash-animthis {
  background-image: url(../lib/img/pics/animthis-splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 300px;
  height: 400px;
}

/* COLORS ------------------------------------------------------ */
/** FONT COLORS **/
.white {
  color: #FFFFFF;
}

.gray {
  color: #E6E6EE;
}

.celeste {
  color: #CFD6FF;
}

.blue {
  color: #B5B9FF;
}

.purple {
  color: #9999FF;
}

.black {
  color: #333333;
}

.red {
  color: #FF4646;
}

/** BACKGROUND COLORS **/
.bg-white {
  background-color: #FFFFFF;
}

.bg-gray {
  background-color: #E6E6EE;
}

.bg-celeste {
  background-color: #CFD6FF;
}

.bg-blue {
  background-color: #B5B9FF;
}

.bg-purple {
  background-color: #9999FF;
}

.bg-black {
  background-color: #333333;
}

/* ALIGNMENT & FLOATS ------------------------------------------ */
/** TEXT ALIGNMENT **/
.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-c {
  text-align: center;
}

/** FLEX CONTAINERS & ALIGNMENTS **/
.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 10;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-justify-l {
  justify-content: left;
}

.flex-justify-r {
  justify-content: right;
}

.flex-justify-c {
  justify-content: center;
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

.flex-justify-between {
  justify-content: space-between;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

/* SEPARATORS -------------------------------------------------- */
/** TOP MARGINS **/
.margin-8 {
  margin-top: 8px;
}

.margin-16 {
  margin-top: 16px;
}

.margin-32 {
  margin-top: 32px;
}

.margin-64 {
  margin-top: 64px;
}

.margin-128 {
  margin-top: 128px;
}

/** LEFT MARGINS **/
.margin-l-0 {
  margin-left: 0;
}

.margin-l-4 {
  margin-left: 4px;
}

.margin-l-8 {
  margin-left: 8px;
}

.margin-l-16, 
.margin-l-16-2 {
  margin-left: 16px;
}

.margin-l-32 {
  margin-left: 32px;
}

.margin-l-64 {
  margin-left: 64px;
}

/** RIGHT MARGINS **/
.margin-r-0 {
  margin-right: 0;
}

.margin-r-4 {
  margin-right: 4px;
}

.margin-r-8 {
  margin-right: 8px;
}

.margin-r-16, 
.margin-r-16-2 {
  margin-right: 16px;
}

.margin-r-32 {
  margin-right: 32px;
}

.margin-r-64 {
  margin-right: 64px;
}

/** BOTTOM MARGINS **/
.margin-b-4 {
  margin-bottom: 4px;
}

.margin-b-8 {
  margin-bottom: 8px;
}

.margin-b-16 {
  margin-bottom: 16px;
}

.margin-b-32 {
  margin-bottom: 32px;
}

.margin-b-64 {
  margin-bottom: 64px;
}

.margin-b-128 {
  margin-bottom: 128px;
}

/* SIZES */
/** WIDTHS **/
.w-128 {
  width: 128px;
}
.w-196 {
  width: 196px;
}

.w-256 {
  width: 256px;
}

.w-3p,
.w-3p-1,
.w-3p-2 {
  width: 33,33%;
}

/** MAX WIDTHS + CENTRAL ALIGN **/
.maxw-128 {
  max-width: 128px;
  margin: auto;
}

.maxw-256 {
  max-width: 256px;
  margin: auto;
}

.maxw-512 {
  max-width: 512px;
  margin: auto;
}

.maxw-768 {
  max-width: 768px;
  margin: auto;
}

.maxw-1024 {
  max-width: 1024px;
  margin: auto;
}

/** SPLASH CONTAINERS MAX WIDTHS **/
.maxw-g-300 {
  max-width: 300px;
}

.maxw-g-692 {
  max-width: 692px;
}

.maxw-g-1024 {
  max-width: 1024px;
}

/** MAX HEIGHTS & CENTRAL ALIGN **/
.maxh-128 {
  max-height: 128px;
  margin: auto;
}

.maxh-256 {
  max-height: 256px;
  margin: auto;
}

.maxh-512 {
  max-height: 512px;
  margin: auto;
}

.maxh-768 {
  max-height: 768px;
  margin: auto;
}

.maxh-1024 {
  max-height: 1024px;
  margin: auto;
}

/* TEXT SIZE */
.txt-size-xs {
  font-size: 9px;
  line-height: 16px;
  margin: 2px 0;
}

.txt-size-s {
  font-size: 12px;
  line-height: 24px;
  margin: 4px 0;
}

/* MACRO WIDTHS ------------------------------------------------ */
.w-512 {
  width: calc(100vw - 32px);
  max-width: 512px;
  margin: auto;
}

.w-768 {
  width: calc(100vw - 32px);
  max-width: 768px;
  margin: auto;
}

.w-1024 {
  width: calc(100vw - 32px);
  max-width: 1024px;
  margin: auto;
}

/* MEDIA QUERIES ----------------------------------------------- */

@media screen and (max-width: 960px) {
  .flex-wrap-jump-1 {
    flex-wrap: wrap;
  }

  .row-to-col-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .separator-b-l {
    margin-left: 0;
  }
  
  .separator-b-r {
    margin-right: 0;
  }

  .w-3p-1 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .row-to-col-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col-to-row-2 {
    flex-direction: row;
  }

  .txt-c-2 {
    text-align: center;
  }

  .margin-l-16-2 {
    margin-left: 0;
  }
  
  .margin-r-16-2 {
    margin-right: 0;
  }

  .w-3p-2 {
    width: 100%;
  }

  .front-card {
    padding: 32px 32px 24px 32px;
  }

  .splash-13r {
    background-image: url(../lib/img/pics/13r-splash-2.png);
    background-position: center bottom;
    width: 300px;
    height: 400px;
  }

  .splash-popup {
    background-image: url(../lib/img/pics/popup-splash-2.png);
    background-position: center bottom;
    width: 300px;
    height: 400px;
  }

  .splash-toggo {
    background-image: url(../lib/img/pics/toggo-splash-2.png);
    background-position: center bottom;
    width: 300px;
    height: 400px;
  }

  .splash-m, 
  .splash-l {
    max-width: 300px;
  }

  .maxh-96-2 {
    max-height: 96px;
    margin: auto;
  }

  .nav-wide {
    display: none;
    visibility: hidden;
  }

  .nav-narrow,
  .nav-toggle-btn input,
  .nav-toggle-content {
    display: block;
    visibility: visible;
  }

  :root {
    --line-width: 20px;
    --line-height: 1.5px;
    --line-gap: 5px;
  }

  .nav-toggle-btn {
    gap: var(--line-gap);
    margin: 8px 8px 8px 16px;
    width: max-content;
    cursor: pointer;
  }

  .nav-toggle-btn::before,
  .nav-toggle-btn::after,
  .nav-toggle-btn input {
    content: "";
    width: var(--line-width);
    height: var(--line-height);
    background-color: #FF4646;
    border-radius: 128px;
    transform-origin: left center;
    transition: background-color 0.2s, opacity 0.2s, width 0.2s, rotate 0.2s, translate 0.2s;
  }

  .nav-toggle-btn:hover::before,
  .nav-toggle-btn:hover::after,
  .nav-toggle-btn input:hover {
    background-color: #FFFFFF;
  }

  .nav-toggle-btn:active::before,
  .nav-toggle-btn:active::after,
  .nav-toggle-btn input:active {
    background-color: #333333;
  }

  .nav-toggle-btn input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .nav-toggle-btn:has(input:checked)::before {
    rotate: 37deg;
    width: calc(var(--line-width) + 4px);
    translate: 0 calc(var(--line-height) / -2);
  }

  .nav-toggle-btn:has(input:checked)::after {
    rotate: -37deg;
    width: calc(var(--line-width) + 4px);
    translate: 0 calc(var(--line-height) / 2);
  }

  .nav-toggle-btn input:checked {
    opacity: 0;
    width: 0;
  }

  .nav-toggle-content {
    display: none;
    visibility: hidden;
  }

  .nav-toggle-btn.nav-toggle-btn:has(input:checked) + .nav-toggle-content {
    display: block;
    visibility: visible;
  }

}

@media screen and (max-width: 512px) {
  h1 {
    font-size: 42px;
  }

  .line-2 {
    display: inline;
  }

  .flex-wrap-reverse-2 {
    flex-direction: column-reverse;
  }

  .flex-wrap-reverse-2 div {
    text-align: left;
    margin-left: 0;
  }

  .flex-wrap-reverse-2 button {
    margin-left: -4px;
  }
}